<app-cards></app-cards>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-vertical-chart></app-vertical-chart>
    </div>
    <div class="col-md-6">
      <app-pie-chart></app-pie-chart>
    </div>
  </div>
</div>