
/* You can add global styles to this file, and also import other style files */

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}