<div class="container">
    <section id="Card" class="section__card">
        <div class="div__card card-1">
            <div class="card__box">
                <div class="box__sentence">
                    <h2>total complaints</h2>
                    <img class="icons chart__increase" src="../../../assets/img/chart__increase.svg" alt="">
                </div>
                <div class="amount">
                    <h2 class="number_shown">{{totalcomplaints}}</h2>
                </div>

            </div>
        </div>
        <div class="div__card card-2">
            <div class="card__box">
                <div class="box__sentence">
                    <h2>weekly complaints</h2>
                    <img class="icons" src="../../../assets/img/cart-outline.svg" alt="">
                </div>
                <div class="amount">
                    <h2 class="number_shown">{{weeklycomplaints}}</h2>

                </div>

            </div>

        </div>

        <div class="div__card card-3">
            <div class="card__box">
                <div class="box__sentence">
                    <h2>daily complaints</h2>
                    <img class="icons" src="../../../assets/img/eye-outline.svg" alt="">
                </div>
                <div class="amount">
                    <h2 class="number_shown">{{dailycomplaints}}</h2>
                </div>

            </div>
        </div>

    </section>
</div>