.barchart-container {
    display: flex;
    flex-direction: column;
    background: transparent;
    border-radius: 5px;
    height: 485px;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }

    .barchart-header-container {
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 5px, 0, 5px, 0;
        .barchart-header {
            text-align: center;
            width: 100%;
        }
        .barchart-date-selector {
            width: 100%;
        }
    }

    .barchart-vertical {
        width: 100%;
        margin: 5px, 0, 5px, 0;
        padding: 5px, 0, 5px, 0;
    }
}

/* For tablets */

@media screen and (min-width: 502px) and (max-width: 1279px) {
    .barchart-container {
        height: 450px;
    }


}

/* For mobiles */
@media screen and (max-width: 501px) {
    .barchart-container {
        height: 450px;
    }
}